node_modules
target/
**/.wesjet/*
packages/*/lib
packages/@wesjet/*/lib
packages/eslint-config-wesjet
packages/create-wesjet-app/src/templates/*
package-lock.json
examples/*
.direnv
**/.nyc_output/*
!tap-snapshots/dist/*
**/dist/*
out
**/__test__/*
.tmp*
/tmp
**/*.tsbuildinfo/*
/result